p{
    color: blue;
}

li{
    color: red;
}

.zagolovok{
    background-color: color #87d9da;
}

#header{
    font-size: 30px;
}

h1{border-bottom: 4px solid black 

}

h2.intro{
    color: black;
    background-color: color#87d9da;
    
}

a{
    color: green;
}

a:hover{
    color: blueviolet;
}
body{
    background-color: aliceblue;
    padding-left: 20px;
    padding-top: 20px;
}
li{
    background-image: url(triangle.jpeg);
}
nav{
    background-color: #87d9da;
    padding: 10px;
    margin-bottom:  20px;
}
nav ul{
    list-style-type: none;
    padding: 0px;
}
nav ul li {
    display: inline;
    margin-left: 10px;
}
nav ul li a{
    color: blue;
    text-decoration: none;
}